services:
  postgres-server:
    image: postgres
    container_name: postgres-server
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - $POSTGRES_PORT:5432
    networks:
      - fullstack-indt

  pg-admin-web:
    image: dpage/pgadmin4:latest
    container_name: pg-admin-web
    restart: always
    depends_on:
      - postgres-server
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_DEFAULT_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - $PGADMIN_PORT:80
    networks:
      - fullstack-indt

  api:
    container_name: reserve-monitor-api
    user: node
    image: node:24-slim
    ports:
      - ${APP_PORT}:${APP_PORT}
      - 9229:9229
    environment:
      - APP_PORT=${APP_PORT}
    volumes:
      - ./:/usr/app
    working_dir: /usr/app
    env_file:
      - .env
    command: bash
    tty: true
    stdin_open: true
    networks:
      - fullstack-indt
    depends_on:
      - postgres-server

networks:
  fullstack-indt:
    driver: bridge
